.dashboard_wrapper{
    
    background: #fff;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard_header{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 10%;
}

.header_img{
    height: 50%;
}

.dashboard_list{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    background: #fff;
    font-size: .8rem;
    cursor: pointer;
    color: rgb(65, 65, 65);
    margin-bottom: 1.5rem;
}